<template>
<div class="aboutUs">
  <h1 class="heading">About Us</h1>
  <div class="container">
      <div class="image">
        <img src="../assets/about.svg" alt="About-Us" height="400px">
      </div>
      <div class="content" >
          <h1>We are ABCodes</h1>
          <p>
            We are one of the unique Web & Software Development Company based in Surat (Gujarat),
            launched in 2012,
            which blends creativity with reality. We offer a plenty of services like </p>
          <ul>
            <li>Web Design & Development</li>
            <li>eCommerce Solutions</li>
            <li>Mobile Application</li>
            <li>SEO, SEM, SMM</li>
            <li>Complete Digital Marketing</li>
          </ul>
      </div>
  </div>
  <div class="extra">
    <h1 class="heading" style="width: 300px">WHY CHOOSE US</h1>
    <p>We give our best in every projects.
       We have more than 50 expert employees
       in different fields. </p>
    <p>
      We provide different solutions and services regarding
    </p>
    <ul style="max-width: 500px; margin: auto;">
      <li>TurnKey Solutions</li>
      <li>eCommerce Solutions</li>
      <li>Long Term Relationship</li>
      <li>SEO, SEM, SMM</li>
      <li>Complete Digital Marketing</li>
    </ul>

  </div>

</div>
</template>

<script>
export default {

}
</script>

<style scoped>
  .aboutUs{
    text-align: center;
    margin: 50px 150px;
    border-bottom: 3px solid #ff5252;
  }
  .container{
    display: flex;
  }
  .image{
    flex: 1 1 60%;
  }
  .content{
    flex: 1 1 40%;
  }
  h1{
    text-transform: uppercase;
    color: #ff5252;
    border-bottom: 3px solid #ff5252;
  }
  p{
    color: #7DC2AF;
    line-height: 30px;
  }
  .heading{
    color: #4CAF50;
    border-bottom: 2px solid;
    width: 200px;
    margin: 0 auto 20px;
  }
  ul{
    margin-top: 20px;
    list-style: none;
  }
  li{
    background: #7DC2AF;
    color: white;
    margin-top: 10px ;
  }
  .extra{
    padding-bottom: 30px;
  }
  .extra h1{
    color: #ff5252;
  }
  @media only screen and (max-width: 800px){
    .container{
      flex-wrap: wrap;
      justify-content: center;
    }
  }

</style>