<template>
  <div class="contactUs">
    <h1 id="heading">Contact Us</h1>
    <div class="container">
      <div class="form">
        <ValidationObserver v-slot="{ handleSubmit }">
            <form @submit.prevent="handleSubmit(submit)" >

              <div class="text">

                <ValidationProvider name="Name" rules="required|alpha|min:3" v-slot="{ errors }">
                  <input type="text" placeholder="Name*" v-model="name">
                  <p style="color: red">{{ errors[0] }}</p>
                </ValidationProvider>

                <ValidationProvider name="E-Mail" rules="required|email" v-slot="{ errors }">
                  <input type="email" placeholder="Email*" v-model="email">
                  <p style="color: red">{{ errors[0] }}</p>
                </ValidationProvider>

                <ValidationProvider name="Mobile No." rules="required|numeric" v-slot="{ errors }">
                  <input type="text" placeholder="Telephone*" v-model="mobile">
                  <p style="color: red">{{ errors[0] }}</p>
                </ValidationProvider>

              </div>
              <div class="textarea">
                <textarea placeholder="Write Your message here...."></textarea>
                <h2>{{message}}</h2>
              </div>
              <button id="btn" type="submit">SEND MESSAGE</button>
            </form>
        </ValidationObserver>

      </div>
      <div class="image">
        <img src="../assets/contact.svg" alt="Contact-Us" height="400px">
      </div>
    </div>
    <h2>You can also reach us directly by calling</h2>
    <h2>+91 90331 39895</h2>
  </div>
</template>

<script>
export default {
  data() {
    return{
      name:'',
      email:'',
      mobile:'',
      message:''
    }
  },
  methods:{
    submit(){
      this.message = 'Hello '+this.name+' We will contact you soon '
    }
  },
}
</script>

<style scoped>

  .contactUs{
    text-align: center;
    margin: 50px 150px;
  }
  .container{
    display: flex;
    align-items: center;
    border-bottom: 3px solid #ff5252;
  }
  .image{
    flex: 1 1 60%;
  }
  .form{
    flex: 1 1 40%;
  }
  form{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
  }
  form .text input{
    height: 50px;
    width: 30vw;
    margin-bottom: 20px;
    border: 2px solid grey;
    padding: 10px;
  }
  ::placeholder{
    font-family: 'Lato', sans-serif;
    padding: 10px;
  }
  .textarea textarea{
    height: 190px;
    width: 30vw;
    margin-bottom: 20px;
    border: 2px solid grey;
    padding: 10px;
  }

  #heading{
    color: #4CAF50;
    border-bottom: 2px solid;
    width: 250px;
    margin: 0 auto 20px;
    text-transform: uppercase;
  }
  #btn{
    color: #1abc9c;
    border: 1px solid #1abc9c;
    background: white;
    width: 250px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  h2{
    color: #ff5252;
  }
  @media only screen and (max-width: 800px){
    .container{
      flex-wrap: wrap;
      justify-content: center;
    }
  }
</style>