<template>
  <footer>
    <div class="footer">
      <div class="icon">
        <h1>ABCodes</h1>
        <div class="icons">
          <a href="#"><font-awesome-icon :icon="['fab', 'facebook-f']" color="#707c7c" size="lg"/></a>
          <a href="#"><font-awesome-icon :icon="['fab','twitter']" color="#707c7c" size="lg"/></a>
          <a href="#"><font-awesome-icon :icon="['fab','instagram']" color="#707c7c" size="lg"/></a>
          <a href="#"><font-awesome-icon :icon="['fab','pinterest']" color="#707c7c" size="lg"/></a>
        </div>
      </div>
      <div class="company">
        <ul>
          <li><a href="#">Company</a></li>
          <li><router-link to="/aboutUs" exact>About US</router-link></li>
          <li><router-link to="/aboutUs" exact>Why Choose Us</router-link></li>
          <li><router-link to="/contactUs" exact>Contact US</router-link></li>

        </ul>
      </div>
    </div>
    <div class="copyright">
      <p>&copy; 2021 ABCodes &#9679; all rights reserved</p>
      <p>privacy policy | term & condition</p>
    </div>
  </footer>
</template>
<script>
export default {

}
</script>
<style scoped>
footer{
  margin: 0;
  padding: 0;

}
.footer{
  font-family: 'Lato', sans-serif;
  margin-top: auto;
  display: flex;
  background: #707c7c;
  justify-content: space-evenly;
  align-items: center;
}
h1{
  color: white;
}
h1:hover{
  color: #f39c12;
}
.footer .icon{
  padding: 20px 0 0 5vw;
  width: 50vw;
}
.icons{
  padding-top: 30px;
  padding-bottom: 30px;
}
.icons a{
  border: 10px solid white;
  border-radius: 50%;
  font-size: 25px;
  color:red ;
  background: white;
  margin-left: 10px;
}
.icon a:hover{
  border: 20px solid #f39c12;
}
.footer ul{
  margin-top: 20px;
  margin-bottom: 20px;
  list-style: none;
}
.footer a{
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  width: auto;
  color: white;
  font-weight: lighter;
  line-height: 24px;
}
.footer a:hover{
  color: #f39c12;
  font-size: 16px;
}

.footer a:first-child{
  font-weight: bolder;
}
.copyright{
  background:#505c5c ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
}
.copyright>p{
  color: white;
  text-transform: uppercase;
  padding: 0 5vw ;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}
.copyright p:last-child{
  font-weight: bold;
}

</style>