<template>
  <header>
    <div class="header-content">
      <div class="title">
        <h1>ABCodes</h1>
        <ul>
          <li><a href="#"> Home</a></li>
          <li><router-link to="/aboutUs" exact>About US</router-link></li>
          <li><router-link to="/contactUs" exact>Contact US</router-link></li>
        </ul>

      </div>
    </div>
  </header>
</template>
<script>
export default {

}
</script>
<style scoped>
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  position: sticky;
  top: 0;
  background: #7DC2AF;
}
.header-content{
  margin:auto;
  max-width: 90vw;
  align-items: center;
  color: white;
}
.title{
  text-align: right;
  width: 90vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title ul li {
  list-style: none;
  border-right: 2px solid #16a085;
  padding-right: 5px;
  display: inline-block;
}
.title ul li a{
  color: white;
  font-weight: bolder;
  padding: 10px;
  text-decoration: none;
  font-size: 15px;
  line-height: 24px;
  transition: 0.3s ease;
}
.title ul li a:hover{
  color: white;
  background:#16a085 ;
  border-radius: 5%;
  padding: 5px;
}
.title ul li:last-of-type {
  border-right: none;
}
.title label{
  cursor: pointer;
  display: none;
}


</style>