<template>
  <div id="hero">
    <div class="content">
      <h1>
        <span>We don't just sell websites,
     we create websites that SELL.</span>
      </h1>
      <p>
        We love what we do and we do what our clients love & work with great
        clients all over the world to create thoughtful and purposeful websites
       </p>
      <button><router-link to="/contactUs" exact>Contact US</router-link></button>
    </div>
    <div class="image">
      <img src="../assets/home.svg" alt="Hero section photo" height="400px"/>
    </div>

  </div>
</template>
<script>
export default {

}
</script>
<style scoped>

  #hero{
    margin: 50px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #ff5252;
    padding: 20px;
  }
  .content{
    text-align: center;
    flex: 1 1 35%;
  }
  h1{
    font-size: 25px;
    text-transform: uppercase;
    color: #ff5252;
  }
  p{
    color: #7DC2AF;
  }
  .image{
    margin-left: 5%;
    flex: 1 1 55%;
  }
  button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  a{
    color: white;
    font-weight: bolder;
    padding: 10px;
    text-decoration: none;
  }

  @media only screen and (max-width: 800px){
    #hero{
      flex-wrap: wrap;
      justify-content: center;
    }
  }

</style>