<template>
  <div>
    <app-header />
    <app-hero />
<!--    <about-us />-->
<!--    <contact-us />-->
    <router-view></router-view>
    <app-footer />
  </div>
</template>

<script>

import Header from './components/Header.vue';
import Footer from './components/Footer.vue';
import Hero from './components/Hero.vue';
// import AboutUs from "./components/AboutUs";
// import ContactUs from "./components/ContactUs";

export default {
  components: {
    'app-header': Header,
    'app-footer': Footer,
    'app-hero': Hero,
    // AboutUs,
    // ContactUs
  },
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:900&display=swap');

*{
  font-family: 'Red Hat Display', sans-serif;
}
</style>